@import url('https://fonts.googleapis.com/css?family=Lato');
html,
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    color: #ffffff;

}

.clock {
    font-size: 6em;
}

.hexval{
    font-size: 4em;
}

.center {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

